@import "../../styles/variables";
.article-block {
  position: relative;
  cursor: pointer;
  background: #fff;
  box-shadow: 0 25px 95px 5px rgba(0,0,0,.07);
  transition: 0.3s;
  margin-bottom: 30px;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 25px 95px 5px rgba(0,0,0,.2);
  }
  img {
    width: 100%;
    height: 190px;
    object-fit: cover;
  }
  &__img-wrapper {
    position: relative;
    overflow: hidden;
    &:before {
      content: '';
      position: absolute;
      height: 35%;
      width: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0.7) -50%, transparent);
    }
  }
  &__title {
    font-size: 16px;
    line-height: 1.6;
    min-height: 50px;
  }
  &__author {
    font-size: 14px;
    color: #999;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 0;
    span {
      color: $dark;
    }
  }
  &__content {
    padding: 20px;
  }
  &__source {
    position: absolute;
    display: inline-block;
    border-radius: 5px;
    font-size: 12px;
    background: $primary;
    top: 10px;
    left: 10px;
    padding: 2px 5px;
    z-index: 1;
    transition: 0.3s;
    &:hover {
      background: $dark;
      color: #fff;
    }
  }
}

.article-block--skeleton {
  box-shadow: 0 25px 95px 5px rgba(0,0,0,.07);
  margin-bottom: 30px;
  &__img-wrapper {
    @extend .loader;
    background: #eee;
    width: 100%;
    height: 190px;
  }
  &__content {
    background: #fff;
    width: 100%;
    height: 120px;
    padding: 20px;
  }
  &__title {
    @extend .loader;
    background: #eee;
    width: 150px;
    height: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
  }
  &__title-sec {
    @extend .loader;
    background: #eee;
    width: 250px;
    height: 20px;
    border-radius: 20px;
    margin-bottom: 15px;
  }
  &__author {
    @extend .loader;
    background: #eee;
    width: 100px;
    height: 10px;
    border-radius: 20px;
  }
}

.loader {
  position: relative;
  overflow: hidden;
  &::after {
    display: block;
    content: '';
    position: absolute;
    width: 200%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(90deg, transparent, rgb(246, 246, 246), transparent);
    animation: loading 1.5s infinite;
  }
}


.article-detail {
  img {
    width: 100%;
  }
  &__title {
    color: $dark;
    font-size: 23px;
    a {
      color: $dark;
      text-decoration: none;
    }
  }
  &__content {
    padding: 15px;
  }
  &__desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    color: #999;
    ul, ol {
      padding-left: 15px;
    }
  }
  &__author {
    font-size: 14px;
    color: #999;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 0;
    span {
      color: $dark;
    }
  }
  &__source {
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    font-size: 12px;
    background: $primary;
    padding: 2px 5px;
    margin-bottom: 10px;
    transition: 0.3s;
    &:hover {
      background: $dark;
      color: #fff;
    }
  }
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
